.editable-ready {
	cursor: pointer;
	border-bottom: #00aaff 1px dashed;
	display: inline;
}

.editable-ready.disabled,
.editable-ready.popup-open {
	cursor: default;
	border-bottom-width: 0;
}

.editable-ready.empty {
	font-style: italic;
}

.editable-input-div {
	display: inline-block;
	position: relative;
}

	.editable-input-div.popup {
		float: left;
	}

	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu:before,
	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu:after {
		content: '';
		display: inline-block;
		position: absolute;
	}

	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.bottom:before {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #ccc;
		border-bottom-color: rgba(0, 0, 0, 0.2);
		top: -7px;
		left: 7px;
	}
	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.bottom:after {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid white;
		top: -6px;
		left: 8px;
	}

	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.top:before {
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-top: 7px solid #ccc;
		border-top-color: rgba(0, 0, 0, 0.2);
		bottom: -7px;
		left: 6px;
	}
	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.top:after {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid white;
		bottom: -6px;
		left: 7px;
	}

	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.right:before {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-right: 7px solid #ccc;
		border-right-color: rgba(0, 0, 0, 0.2);
		left: -7px;
		top: 6px;
	}
	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.right:after {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-right: 6px solid white;
		left: -6px;
		top: 7px;
	}

	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.left:before {
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 7px solid #ccc;
		border-left-color: rgba(0, 0, 0, 0.2);
		right: -7px;
		top: 6px;
	}
	.editable-input-div.popup .editable-popup-wrapper.dropdown-menu.left:after {
		border-top: 6px solid transparent;
		border-bottom: 6px solid transparent;
		border-left: 6px solid white;
		right: -6px;
		top: 7px;
	}

.editable-popup-wrapper {
	display: block;
	padding: 10px;
}

.editable-input-wrapper {
	display: inline-block;
	position: relative;
    float: left;
}

.editable-clear-button {
	position: absolute;
	opacity: 0.6;
	z-index: 100;
	right: 3px;
	margin-top: 6px;
	background-color: lightgray;
	border-radius: 100px;
	width: 15px;
	height: 15px;
	font-size: 11px;
	text-align: center;
	color: #fff;
	cursor: pointer;
	-webkit-touch-callout: none;/* iOS Safari */
	-webkit-user-select: none;	/* Safari */
	-khtml-user-select: none;	/* Konqueror HTML */
	-moz-user-select: none;		/* Firefox */
	-ms-user-select: none;		/* Internet Explorer/Edge */
	user-select: none;			/* Chrome and Opera */
}

.editable-input-div.number .editable-clear-button,
.editable-input-div.textarea .editable-clear-button {
	right: 18px;
}

.editable-button-wrapper {
	display: inline-block;
	position: relative;
	top: 3px;
	float: right;
}

	.editable-input-div.popup .editable-button-wrapper {
		float: left;
	    display: block;
	    width: 100%;
	}

	.editable-input-div.inline.select .editable-button-wrapper,
	.editable-input-div.popup.textarea .editable-button-wrapper {
		top: 0;
	}

.editable-button {
	font-size: 15px;
	width: 18px;
	height: 18px;
	display: inline-block;
	text-align: center;
	line-height: 18px;
	cursor: pointer;
	border-radius: 5px;
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	color: #fff;
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	margin-left: 5px;
}

	.editable-input-div.popup .editable-button-wrapper .editable-button:first-of-type {
		margin-left: 0;
	}

.editable-autocomplete-list.editable-autocomplete-popup {
	z-index: 1000;
}
